@font-face {
    font-family: pokemonSolid;
    src: url(../fonts/pokemonSolid.ttf);
}

@font-face {
    font-family: pokemonGB;
    src: url(../fonts/pokemonGB.ttf);
}
h1 {
    font-family: pokemonSolid;
    font-size: 75px;
    text-align: center;
    color: #f7ca46;
    text-shadow: -1px 0 #3c6fb1, 0 10px #3c6fb1, 10px 0 #3c6fb1, 0 -10px #3c6fb1;

}

body {
    background-image: url("../images/pikachuBackground.jpg");
}




#main {
    background-color: azure;
    font-family: pokemonGB;
    font-size: 35px;
    text-align: center;
    margin-top: 2%;
    border-style: double;
}



#main-screen {
    height:50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


#question {
    background-color: azure;
    font-family: pokemonGB;
    font-size: 35px;
    text-align: center;
    margin-top: 2%;
    border-style: double;
}

#opts {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 245px;
    font-size: 15px;
}

#submit {
    font-size: 15px;
}

#question-answer {
    background-color: azure;
    font-family: pokemonGB;
    font-size: 35px;
    text-align: center;
    margin-top: 2%;
    border-style: double;
}




